SANDBOX_HOST=127.0.0.1
SANDBOX_PORT=3535
SANDBOX_PUBLIC_PREFIX=
SANDBOX_PARENT_URL=/
GD_RELEASE_MONITOR_SOURCE_URL=https://oplot.sberbank.ru/releases/dashboard/release-monitor/status
GD_AUTO_REFRESH_ENABLED=0
ZPI_HTTPS=0
